<h1>Listing Curated Tours</h1>

<table>
  <thead>
    <tr>
      <th>Tour Author</th>
      <th>Tour Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @curated_tours.each do |curated_tour| %>
      <tr>
        <td><%= curated_tour.tour_author %></td>
        <td><%= curated_tour.tour_name %></td>
        <td><%= link_to 'Show', [:admin, curated_tour] %></td>
        <td><%= link_to 'Edit', edit_admin_curated_tour_path(curated_tour) %></td>
        <td><%= link_to 'Destroy', [:admin, curated_tour], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curated tour', new_admin_curated_tour_path %>
