<p id="notice"><%= notice %></p>

<p>
  <strong>Tour author:</strong>
  <%= @curated_tour.tour_author %>
</p>

<p>
  <strong>Tour name:</strong>
  <%= @curated_tour.tour_name %>
</p>


<%= link_to 'Edit', edit_admin_curated_tour_path(@curated_tour) %> |
<%= link_to 'Back', admin_curated_tours_path %>
