<p id="notice"><%= notice %></p>

<p>
  <strong>Caption text:</strong>
  <%= @curated_tour_stop.caption_text %>
</p>

<p>
  <strong>Sequential:</strong>
  <%= @curated_tour_stop.sequential_id %>
</p>

<p>
  <strong>Work:</strong>
  <%= @curated_tour_stop.work %>
</p>

<p>
  <strong>Curated tour:</strong>
  <%= @curated_tour_stop.curated_tour %>
</p>

<%= link_to 'Edit', edit_admin_curated_tour_stop_path(@curated_tour_stop) %> |
<%= link_to 'Back', admin_curated_tour_stops_path %>
