<h1>Artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>        
      <th>Contact</th>    
      <th>Url</th>
      <th>Bio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.location %></td>         
        <td><%= artist.contact %></td>       
        <td><%= truncate(artist.url.to_s, length: 35) %></td>
        <td><%= raw(@markdown.render(truncate(artist.bio.to_s, length: 35))) %></td>  
        <td><%= link_to 'Show', artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>

