<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @artist.contact %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @artist.bio %>
</p>

<p>
  <strong>Url:</strong>
  <%= @artist.url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @artist.location %>
</p>

<%= link_to 'Back', artists_path %>
