<p id="notice"><%= notice %></p>

<h1><%= @artist.name %></h1>

<div>
  <strong>Contact:</strong>
  <%= @artist.contact %>
  
  <% if ! @artist.url.empty? %>    
    |
    <strong>Url:</strong>
    <%= @artist.url %>
  <% end %>

  <% if ! @artist.location.empty? %>  
    |
    <strong>Location:</strong>
    <%= @artist.location %>  
  <% end %>
</div>

<% if ! @artist.bio.nil? %>
  <div class="bio">
    <%= raw(@markdown.render @artist.bio) if @artist.bio %>
  </div>
<% end %>

<p>
<%= 
link_to 'Back to the work', @work
%>
</p>

<p>
<%= link_to 'View all artists', artists_path %>
</p>