<%= form_for([:admin, @work_representation]) do |f| %>
  <% if @work_representation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_representation.errors.count, "error") %> prohibited this work_representation from being saved:</h2>

      <ul>
      <% @work_representation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :fileext %><br>
    <%= f.text_area :fileext %>
  </div>
  <div class="field">
    <%= f.label :text_body_markdown %><br>
    <%= f.text_area :text_body_markdown %>
  </div>
  <div class="field">
    <%= f.label :Work %><br>
    <%= f.collection_select :work_id, Work.all(:order => "title"), :id, :title, :include_blank => true %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
