<h1>Listing work_representations</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Fileext</th>
      <th>Work</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_representations.each do |work_representation| %>
      <tr>
        <td><%= work_representation.url %></td>
        <td><%= work_representation.fileext %></td>
        <td><%= work_representation.Work %></td>
        <td><%= link_to 'Show', [:admin, work_representation] %></td>
        <td><%= link_to 'Edit', edit_admin_work_representation_path(work_representation) %></td>
        <td><%= link_to 'Destroy', [:admin, work_representation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work representation', new_admin_work_representation_path %>
