<%= form_for(@curated_tour_stop) do |f| %>
  <% if @curated_tour_stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curated_tour_stop.errors.count, "error") %> prohibited this curated_tour_stop from being saved:</h2>

      <ul>
      <% @curated_tour_stop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :work_id %><br>
    <%= f.collection_select :work_id, Work.all(:order => "title"), :id, :title, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :curated_tour_id %><br>
    <%= f.collection_select :curated_tour_id, CuratedTour.all(:order => "tour_name"), :id, :tour_name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :caption_text %><br>
    <%= f.text_area :caption_text %>
  </div>
  <div class="field">
    <%= f.label 'Stop #' %><br>
    <%= f.number_field :sequential_id, in: 1..15 %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
