<section class="pagesInfoPane">
  <nav class="pagesNavList">
    <a class="homeLink" href="/">
        Home
    </a>
  </nav>
</section>

<article class="pageContent">
    
    <h1>
      <%= @curated_tour_stop.curated_tour.tour_name %>
    </h1>
    
    <div class="curator">
    	<strong>Tour Curator:</strong> <%= @curated_tour_stop.curated_tour.tour_author %>
    </div>
    
    <nav id="tourStops">
    
      <div id="stepCount"><%= @curated_tour_stop.sequential_id %> of <%= @curated_tour_stops_count %></div>       
        
      <div id="tourStepBack">   
      <%=
        if @curated_tour_stop.sequential_id > 1 
          link_to('&#x25C0; Previous Stop'.html_safe, curated_tour_curated_tour_stop_path(@curated_tour.id, @curated_tour_stop.sequential_id - 1))
        end
      %>
      </div>
      
      <div id="tourStepNext">
      <%=
        if @curated_tour_stop.sequential_id < @curated_tour_stops_count 
          link_to('Next Stop &#9654;'.html_safe, curated_tour_curated_tour_stop_path(@curated_tour.id, @curated_tour_stop.sequential_id + 1))
        end
      %>
    
      </div>
    </nav>
    
    <section id="tourStopCaption">
      <%= @curated_tour_stop.caption_text %>
    </section>
    
    <hr>
    
    <ul id="tourStopWorks" class="experienceTheWork">
    <% if !@curated_tour_stop.work.work_representations.empty? %>
        <% for wr in @curated_tour_stop.work.work_representations %>
            <li class="<%= wr.fileext %>">
              <% case wr.fileext %>
              <% when 'url' %>
                <div class="url-work">
                    <p>This artwork is in the form of a website.  
                    Click the "More Info" tab to the left to read more information about the work.
                    Then, click on the preview image to load it in a new window.</p>
                    <a href="<%= wr.url %>" target="_blank">
                        <%= image_tag(wr.url + 'thumbnail.jpg') %>                    
                    </a>                
                </div>      
              <% when 'jpg', 'png', 'gif' %>
                <a href="<%= wr.url %>" target="_blank" class="launch-fullsize" id="launch-fullsize-<%= wr.id %>">
                    <figure class="inline"><%= work_image_tag(wr.url) %><figcaption>click image to view larger</figcaption></figure>
                </a>    
              <% when 'pdf' %>
                <div class="pdf-work">
                    <p>This artwork is in the form of a .pdf document.</p><p><a href="<%= wr.url %>" target="_blank">Click here to view the file in a new window.</a></p>
                </div> 
              <% when 'zip' %>
                <div class="zip-work">
                    This file is a program, and is stored in a ZIP file.   There is usually a movie that shows how the program works presented
                    along with this work.  
                    If you would like to experience the original program, you can read the "More Info" tab about this
                    work and decide if you'd like to download and run the file.  We do not offer any technical support beyond the artist's 
                    description, but have verified that the files are not viruses or harmful.
                    <a href="<%= wr.url %>">Click here to download the program.</a>
                </div>                     
              <% when 'mp3' %>
                <p>Press play to hear this recording:</p>
                <audio controls="controls">
                  <source src="<%= wr.url %>" type="audio/mpeg" />
                </audio>
              <% when 'vimeo' %> 
                <iframe src="//player.vimeo.com/video/<%= wr.url[/https?:\/\/(?:www\.)?vimeo.com\/(?:channels\/(?:\w+\/)?|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|)(\d+)(?:$|\/|\?)/, 3] %>?title=0&amp;byline=0&amp;portrait=0" 
                  width="540" height="405" 
                  frameborder="0" 
                  webkitallowfullscreen 
                  mozallowfullscreen 
                  allowfullscreen></iframe>            
                <% when 'md' %>
                  <div class="md-work"><%= raw(@markdown.render wr.text_body_markdown) %></div>
                <% else %>  
                  <!-- <div style="font-size: 11px; background-color: pink;">(( filetype for <em><%= wr.url %></em> is not supported  ))</div>-->
              <% end %>
            </li>
        <% end %>
    <% else %>
      <div class="noWorkRepresentations">No file exists in the database for this work yet.</div>
    <% end %>
    </ul>
    
    <br /> <br />
    
    <%= link_to 'Back To Beginning',  curated_tour_curated_tour_stop_path(@curated_tour.id, 1) %>
</article>

<!-- Work Representation Large Images for Lightbox 
     content_for renders this OUTSIDE of the main element which gets hidden   
     when these light box elements are shown 
-->
<% content_for :extraElements do %>
    <% if !@curated_tour_stop.work.work_representations.empty? %>
        <% for wr in @curated_tour_stop.work.work_representations %>
          <% if wr.fileext == 'jpg' || wr.fileext == 'png' || wr.fileext == 'gif'%>
            <!-- Fullsize Work Representation For Lightbox -->
            <figure class="fullsize" id="fullsize-<%= wr.id %>"><%= work_image_tag(wr.url, :lightbox) %></figure> 
          <% end %>
        <% end %>
    <% end %>
<% end %>
