<h1>Works by Medium</h1>

<p><a href="/works/by_location">View By Location</a></p>

<% @media_collection.sort.each do |medium, works| %>

    <h2 class="category<%= medium %>"><%= medium %></h2>

    <ul>
        <% works.each do |work| %>
            <li>
                <%= link_to work.artist.name, work %> 
                <!--
                <em>
                    (<%= work.work_representations.count %> 
                    <%= 'file'.pluralize(work.work_representations.count) %>)
                </em>
                -->
            </li>
        <% end %>
    </ul>

<% end %>

