<h1>Listing works by medium</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Parent</th>
      <th>Artist</th>
      <th>Medium</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.title %></td>
        <td><%= work.parent_id %></td>
        <td><%= work.artist_id %></td>
        <td><%= work.medium %></td>
        <td><%= link_to 'Show', work %></td>
      </tr>
    <% end %>
  </tbody>
</table>

