<p id="notice"><%= notice %></p>

<h1>
  <%= @work.title %>
</h1>

<p>
  <strong>Artist:</strong>
  <%= link_to h(@work.artist.name), @work.artist %>
  
  <strong>Medium:</strong>
  <%= @work.medium %>
</p>

<p>
  <h2>Experience the work:</h2>
  <ul class="experienceTheWork">
  <% if !@work.work_representations.empty? %>
      <% for wr in @work.work_representations %>
          <li class="<%= wr.fileext %>">
          <% case wr.fileext %>
           <% when 'jpg' %>
             <a href="<%= wr.url %>"><img src="<%= wr.url %>" width="400"/></a>
           <% when 'gif' %>
             <a href="<%= wr.url %>"><img src="<%= wr.url %>" width="400"/></a>      
           <% when 'png' %>
             <a href="<%= wr.url %>"><img src="<%= wr.url %>" width="400"/></a>            
           <% when 'vimeo' %>	
             <iframe src="//player.vimeo.com/video/<%= wr.url[/https?:\/\/(?:www\.)?vimeo.com\/(?:channels\/(?:\w+\/)?|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|)(\d+)(?:$|\/|\?)/, 3] %>?title=0&amp;byline=0&amp;portrait=0" 
                width="860" height="645" 
                frameborder="0" 
                webkitallowfullscreen 
                mozallowfullscreen 
                allowfullscreen></iframe>	           
           <% when 'md' %>
             <p>Read the text here:</p>
             <div class="md-work"><%= raw(@markdown.render wr.text_body_markdown) %></div>
          <% else %>  
          <p>Link to file:  
             <a href="<%= wr.url %>"><%= wr.url %></a></p>
          <% end %>
          </li>
      <% end %>
  <% else %>
    <div class="noWorkRepresentations">This Work is Still in Progress</div>
  <% end %>
  </ul>
</p>

<div class="inspirationNavigation">
    <div class="inspiredby">
    <% unless @work.parent.nil? %>
    <p>
      <h4>Inspired by:</h4>
      <%= link_to h(@work.parent.title), @work.parent %>
    </p>
    <p>
        <h5>Other works inspired by <%= h(@work.parent.title) %></h5>
    </p>
    <% end %>
    </div>    
    
    <div class="inspired">
    <% unless @work.children.empty? %>
    <p>
      <h4>Inspired:</h4>
        <ul id="submenu">
          <% for work in @work.children %>
            <li><%= link_to h(work.title), work %></li>
          <% end %>
        </ul>
    </p>
    <% end %>
    </div>
</div>

<div style="clear:both;">
<%= link_to 'Back', works_path %>
</div>