<!-- Work Information Pane -->
<section class="workInfoPane">
  <section class="artistInfo category<%= @work.medium %>">
    <div class="artistName<% if @work.artist.longname? %> longname<% end %>"><%= @work.artist.name.gsub(/\s+/, '<br>').html_safe %></div>
    <div class="workMedium"><%= @work.medium %></div>
    <div class="workLocation"><%= @work.artist.location.gsub(/[,]\s+/, '<br>').html_safe %></div>
  </section>
  
  <% unless @artist.bio.nil? %>  
  <nav class="bioNav category<%= @work.medium %>"> 
        <a class="artLink selected" href="#">Art</a>
        <a class="moreInfoLink" href="#">More Info</a>
        <!-- <%= link_to h('bio'), @work.artist, :class => "bioLink" %> -->   
  </nav>
  <% end %>
  
  <nav class="workNav">
    <a class="homeLink" href="/">Home</a>
    <a class="mapLink" href="/works/tree">The Map</a>
  </nav>
  
</section>

<!-- Work Representations -->
<ul class="experienceTheWork">
<% if !@work.work_representations.empty? %>
    <% for wr in @work.work_representations %>
        <li class="<%= wr.fileext %>">
          <% case wr.fileext %>
          <% when 'url' %>
            <div class="url-work">This work is an external website. Visit it by clicking on the link: <a href="<%= wr.url %>" target="_blank"><%= wr.url %></a></div>           
          <% when 'jpg' %>
            <a href="<%= wr.url %>" target="_blank" class="launch-fullsize" id="launch-fullsize-<%= wr.id %>">
                <figure class="inline"><img src="<%= get_resized_jpg_path(wr.url) %>" /><figcaption>click image to view larger</figcaption></figure>
            </a>
          <% when 'png' %>
            <a href="<%= wr.url %>" target="_blank" class="launch-fullsize" id="launch-fullsize-<%= wr.id %>">
                <figure class="inline"><img src="<%= get_resized_jpg_path(wr.url) %>" /><figcaption>click image to view larger</figcaption></figure>
            </a>             
          <% when 'gif' %>
            <a href="<%= wr.url %>" target="_blank" class="launch-fullsize" id="launch-fullsize-<%= wr.id %>">
                <figure class="inline"><%= get_resized_gif_img(wr.url) %><figcaption>click image to view larger</figcaption></figure>
            </a>                    
          <% when 'pdf' %>
            <a href="<%= wr.url %>" target="_blank">Open the original PDF document of this work.</a>    
          <% when 'zip' %>
            <div class="zip-work">This work has a downloadable ZIP file: <a href="<%= wr.url %>"><%= wr.url %></a></div>                  
          <% when 'mp3' %>
            <section class="mp3Controls">
                <div class="instructions">Press play</div>
                <audio controls="controls">
                  <source src="<%= wr.url %>" type="audio/mpeg" />
                </audio>
            </section>
          <% when 'vimeo' %> 
            <iframe src="//player.vimeo.com/video/<%= wr.url[/https?:\/\/(?:www\.)?vimeo.com\/(?:channels\/(?:\w+\/)?|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|)(\d+)(?:$|\/|\?)/, 3] %>?title=0&amp;byline=0&amp;portrait=0" 
              width="540" height="405" 
              frameborder="0" 
              webkitallowfullscreen 
              mozallowfullscreen 
              allowfullscreen></iframe>            
            <% when 'md' %>
              <div class="md-work"><%= raw(@markdown.render wr.text_body_markdown) %></div>
            <% else %>  
              <!-- <div style="font-size: 11px; background-color: pink;">(( filetype for <em><%= wr.url %></em> is not supported  ))</div> -->
          <% end %>
        </li>
    <% end %>
<% else %>
  <div class="noWorkRepresentations">No file exists in the database for this work yet.</div>
<% end %>
</ul>

<!-- Work Representation Large Images for Lightbox 
     content_for renders this OUTSIDE of the main element which gets hidden   
     when these light box elements are shown 
-->

<% content_for :extraElements do %>
    <% if !@work.work_representations.empty? %>
        <% for wr in @work.work_representations %>
          <% if wr.fileext == 'jpg' || wr.fileext == 'png' %>
            <!-- Fullsize Work Representation For Lightbox -->
            <figure class="fullsize" id="fullsize-<%= wr.id %>"><img src="<%= get_fullsized_jpg_path(wr.url) %>" /></figure> 
          <% elsif wr.fileext == 'gif' %>
            <!-- Fullsize Work Representation For Lightbox -->
            <figure class="fullsize" id="fullsize-<%= wr.id %>"><%= get_fullsized_gif_img(wr.url) %></figure> 
          <% end %>
        <% end %>
    <% end %>
<% end %>

<!-- Artist / Work More Info Panel -->
<% unless @artist.bio.nil? %>  
<section class="moreInfo">
    <%= raw(@markdown.render @work.artist.bio) %>    
</section>
<% end %>

<!-- What Came Before Navigation -->
<% unless @work.parent.nil? %>
<section class="whatCameBefore">
  <header>What<br>Came<br>Before</header>
  <%= 
    link_to h(image_tag(
        'workCameBeforeNav' + @work.parent.medium.downcase + '.png', 
        :alt => @work.parent.title
    )), @work.parent ,
        :class  => 'beforeWork',
        :id     => @work.parent.id
  %> 
  <section class="artistInfo category<%= @work.parent.medium %>" id="beforeWorkInfo<%= @work.parent.id %>">
    <div class="artistName<% if @work.parent.artist.longname? %> longname<% end %>"><%= @work.parent.artist.name.gsub(/\s+/, '<br>').html_safe %></div>
    <div class="workMedium"><%= @work.parent.medium %></div>
    <div class="workLocation"><%= @work.parent.artist.location.gsub(/[,]\s+/, '<br>').html_safe %></div>
  </section>  
</section>    
<% end %>

<!-- What Came Next Navigation -->
<section class="whatCameNext">
<% unless @work.children.empty? %>
  <header>What<br>Came<br>Next</header>
	<ul>
  	<% for work in @work.children %>
    	<li title="<%=work.title %>">
            <%= 
                link_to h(image_tag(
                    'workCameNextNav' + work.medium.downcase + '.png', 
                    :alt    => work.parent.title,
                )), work,                     
                    :class  => 'nextWork',
                    :id     => work.id 
            %>
            <section class="artistInfo category<%= work.medium %>" id="nextWorkInfo<%= work.id %>">
              <div class="artistName<% if work.artist.longname? %> longname<% end %>"><%= work.artist.name.gsub(/\s+/, '<br>').html_safe %></div>
              <div class="workMedium"><%= work.medium %></div>
              <div class="workLocation"><%= work.artist.location.gsub(/[,]\s+/, '<br>').html_safe %></div>
            </section>
    	</li>
  	<% end %>
	</ul>
<% else %>
  <!-- Last Work -->
  <header>This<br>Line<br>Ends<br>Here</header>
    <div id="lastWorkLinks">
        <a href="/works/1"><%= h(image_tag('workCameNextNavStart.png')) %>Back To Start</a>
        <%= 
            link_to h(image_tag('workCameNextNavRandom.png') + 'Random Work'), @random,                     
                :class  => 'nextWork',
                :id     => @random.id 
        %>  
   </div>
<% end %>
</section>

</div>