<p id="notice"><%= notice %></p>

<h1>
  <%= @work.title %>
</h1>

<p>
  <strong>Artist:</strong>
  <%= link_to h(@work.artist.name), @work.artist %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @work.medium %>
</p>

<p>
  <h2>Experience the work:</h2>
  <ul>
  <%  for wr in @work.work_representations %>
      <% case wr.fileext %>
       <% when 'jpg' %>
         <li><a href="<%= wr.url %>"><img src="<%= wr.url %>" width="400"/></a></li>
      <% else %>    
         <li><a href="<%= wr.url %>"><%= wr.url %></a></li>
      <% end %>
  <% end %>
  </ul>
</p>

<div class="inspirationNavigation">
    <div class="inspiredby">
    <% unless @work.parent.nil? %>
    <p>
      <h4>Inspired by:</h4>
      <%= link_to h(@work.parent.title), @work.parent %>
    </p>
    <% end %>
    </div>

    <div class="inspired">
    <% unless @work.children.empty? %>
    <p>
      <h4>Inspired:</h4>
        <ul id="submenu">
          <% for work in @work.children %>
            <li><%= link_to h(work.title), work %></li>
          <% end %>
        </ul>
    </p>
    <% end %>
    </div>
</div>

<div style="clear:both;">
<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
</div>