<p id="notice"><%= notice %></p>

<% unless @work.parent.nil? %>
<p>
  <strong>Parent:</strong>
  <%= link_to h(@work.parent.title), @work.parent %>
</p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to h(@work.artist.name), @work.artist %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @work.medium %>
</p>

<p>
  <strong>Representations</strong>
  <ul>
  <%  for wr in @work.work_representations %>
      <% case wr.fileext %>
       <% when 'jpg' %>
         <li><a href="<%= wr.url %>"><img src="<%= wr.url %>" width="400"/></a></li>
      <% else %>    
         <li><a href="<%= wr.url %>"><%= wr.url %></a></li>
      <% end %>
  <% end %>
  </ul>
</p>

<% unless @work.children.empty? %>
<p>
  <strong>Children:</strong>
<ul id="submenu">
  <% for work in @work.children %>
    <li><%= link_to h(work.title), work %></li>
  <% end %>
</ul>
</p>
<% end %>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
