<% title (@work.parent.nil? ? "Breton Fisherman's Prayer, the orginal TELEPHONE message" : "#{@work.medium} by #{@work.artist.name}, a work of art created for") %>
<% description (@work.parent.nil? ? "Breton Fisherman's Prayer, the orginal TELEPHONE message" : "#{@work.medium} by #{@work.artist.name}, a work of art created for") + ' TELEPHONE: An International Arts Experience Presented by Satellite Collective' %>
<% keywords 'art, game, international, experiment, nathan langston, daniel talsky, satellite collective' %>

<!-- Work Information Pane -->
<section class="workInfoPane">
  <section class="artistInfo category<%= @work.medium %>">
    <div class="artistName<% if @work.artist.longname? %> longname<% end %>"><%= @work.artist.name.gsub(/\s+/, '<br>').html_safe %></div>
    <div class="workMedium"><%= @work.medium %></div>
    <div class="workLocation"><%= @work.artist.location.gsub(/[,]\s+/, '<br>').html_safe %></div>
  </section>
  
  <% unless @artist.bio.nil? %>  
  <nav class="bioNav category<%= @work.medium %>"> 
        <a class="artLink selected" href="#">Art</a>
        <a class="moreInfoLink" href="#">More Info</a>
        <!-- <%= link_to h('bio'), @work.artist, :class => "bioLink" %> -->   
  </nav>
  <% end %>
  
  <nav class="workNav">
    <a class="homeLink" href="/">Home</a>
    <a class="mapLink" href="/works/tree">The Map</a>
  </nav>

  <div class="social-container">
    <div class="links">
      <a href="#" data-type="twitter" data-media="<%= @social_image_url %>" data-title="<%= @social_work_title %>" data-via="sat_collective" data-url="<%= @social_work_url %>" class="prettySocial fa fa-twitter"></a>
      <a href="#" data-type="facebook" data-media="<%= @social_image_url %>" data-url="<%= @social_work_url %>" class="prettySocial fa fa-facebook"></a>
      <!--<a href="#" data-type="googleplus" data-url="http://sonnyt.com/prettySocial" data-description="Custom share buttons for Pinterest, Twitter, Facebook and Google Plus." class="prettySocial fa fa-google-plus"></a>-->   
      <a href="#" data-type="pinterest" data_media="<%= @social_image_url %>" data-description="<%= @social_work_title %>" data-url="<%= @social_image_url %>" class="prettySocial fa fa-pinterest"></a>
      <!--<a href="#" data-type="linkedin" data-url="http://sonnyt.com/prettySocial" data-via="sonnyt" data-media="http://sonnyt.com/assets/imgs/prettySocial.png" class="prettySocial fa fa-linkedin"></a>-->   
    </div>
  </div> 
</section>

<!-- Work Representations -->
<ul class="experienceTheWork">
<% if !@work.work_representations.empty? %>
    <% for wr in @work.work_representations %>
        <li class="<%= wr.fileext %>">
          <% case wr.fileext %>
          <% when 'url' %>
            <div class="url-work">
                <p><strong>This link opens to an external site</strong>
                By clicking on this work, you will be directed to an external website.
                Before doing so, learn more about the TELEPHONE artist by clicking on the More Info tab. 
                </p>
                <a href="<%= wr.url %>" target="_blank">
                    <%= image_tag(wr.url + 'thumbnail.jpg') %>                    
                </a>                
            </div>           
          <% when 'jpg', 'png', 'gif' %>
            <a href="<%= wr.url %>" target="_blank" class="launch-fullsize" id="launch-fullsize-<%= wr.id %>">
                <figure class="inline"><%= work_image_tag(wr.url) %><figcaption>click image to view larger</figcaption></figure>
            </a>    
          <% when 'pdf' %>
            <div class="pdf-work">
                <p>This artwork is in the form of a .pdf document.</p><p><a href="<%= wr.url %>" target="_blank">Click here to view the file in a new window.</a></p>
            </div> 
          <% when 'zip' %>
            <div class="zip-work">
                This file is a program, and is stored in a ZIP file.   
                There is a movie that shows how the program works presented along with this work.  
                If you would like to experience the original program, you can read the "More Info" tab about this
                work and decide if you'd like to download and run the file.  We do not offer any technical support beyond the artist's 
                description, but have verified that the files are not viruses or harmful.
                <a href="<%= wr.url %>">Click here to download the program.</a>
            </div>                  
          <% when 'mp3' %>
            <section class="mp3Controls">
                <div class="instructions">Press play</div>
                <audio controls="controls">
                  <source src="<%= wr.url %>" type="audio/mpeg" />
                </audio>
            </section>
          <% when 'vimeo' %> 
            <iframe src="//player.vimeo.com/video/<%= wr.url[/https?:\/\/(?:www\.)?vimeo.com\/(?:channels\/(?:\w+\/)?|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|)(\d+)(?:$|\/|\?)/, 3] %>?title=0&amp;byline=0&amp;portrait=0" 
              width="540" height="405" 
              frameborder="0" 
              webkitallowfullscreen 
              mozallowfullscreen 
              allowfullscreen></iframe>            
            <% when 'md' %>
              <div class="md-work"><%= raw(@markdown.render wr.text_body_markdown) %></div>
            <% else %>  
              <!-- <div style="font-size: 11px; background-color: pink;">(( filetype for <em><%= wr.url %></em> is not supported  ))</div> -->
          <% end %>
        </li>
    <% end %>
<% else %>
  <div class="noWorkRepresentations">No file exists in the database for this work yet.</div>
<% end %>
</ul>

<!-- Work Representation Large Images for Lightbox 
     content_for renders this OUTSIDE of the main element which gets hidden   
     when these light box elements are shown 
-->

<% content_for :extraElements do %>
    <% if !@work.work_representations.empty? %>
        <% for wr in @work.work_representations %>
          <% if wr.fileext == 'jpg' || wr.fileext == 'png' || wr.fileext == 'gif'%>
            <!-- Fullsize Work Representation For Lightbox -->
            <figure class="fullsize" id="fullsize-<%= wr.id %>"><%= work_image_tag(wr.url, :lightbox) %></figure> 
          <% end %>
        <% end %>
    <% end %>
<% end %>

<!-- Artist / Work More Info Panel -->
<% unless @artist.bio.nil? %>  
<section class="moreInfo">
    <%= raw(@markdown.render @work.artist.bio) %>    
</section>
<% end %>

<!-- What Came Before Navigation -->
<% unless @work.parent.nil? %>
<section class="whatCameBefore">
  <header>What<br>Came<br>Before</header>
  <%= 
    link_to h(image_tag(
        'workCameBeforeNav' + @work.parent.medium.downcase + '.png', 
        :alt => @work.parent.title
    )), @work.parent ,
        :class  => 'beforeWork',
        :id     => @work.parent.id
  %> 
  <section class="artistInfo category<%= @work.parent.medium %>" id="beforeWorkInfo<%= @work.parent.id %>">
    <div class="artistName<% if @work.parent.artist.longname? %> longname<% end %>"><%= @work.parent.artist.name.gsub(/\s+/, '<br>').html_safe %></div>
    <div class="workMedium"><%= @work.parent.medium %></div>
    <div class="workLocation"><%= @work.parent.artist.location.gsub(/[,]\s+/, '<br>').html_safe %></div>
  </section>  
</section>    
<% end %>

<!-- What Came Next Navigation -->
<section class="whatCameNext">
<% unless @work.children.empty? %>
  <header>What<br>Came<br>Next</header>
	<ul>
  	<% for work in @work.children %>
    	<li title="<%=work.title %>">
            <%= 
                link_to h(image_tag(
                    'workCameNextNav' + work.medium.downcase + '.png', 
                    :alt    => work.parent.title,
                )), work,                     
                    :class  => 'nextWork',
                    :id     => work.id 
            %>
            <section class="artistInfo category<%= work.medium %>" id="nextWorkInfo<%= work.id %>">
              <div class="artistName<% if work.artist.longname? %> longname<% end %>"><%= work.artist.name.gsub(/\s+/, '<br>').html_safe %></div>
              <div class="workMedium"><%= work.medium %></div>
              <div class="workLocation"><%= work.artist.location.gsub(/[,]\s+/, '<br>').html_safe %></div>
            </section>
    	</li>
  	<% end %>
	</ul>
<% else %>
  <!-- Last Work -->
  <header>This<br>Line<br>Ends<br>Here</header>
    <div id="lastWorkLinks">
        <a href="/works/1"><%= h(image_tag('workCameNextNavStart.png')) %>Back To Start</a>
        <%= 
            link_to h(image_tag('workCameNextNavRandom.png') + 'Random Work'), @random,                     
                :class  => 'nextWork',
                :id     => @random.id 
        %>  
   </div>
<% end %>
</section>

</div>
