<h1>Treeview of Works</h1>


<script>
$( document ).ready(function() {

    $("area#tree_node_1").hover(
        function() {      
            $("section#nextWorkInfo1").show();
      }, function() {
            $("section#nextWorkInfo1").hide();
      }
    );    
});
</script>



<div style="position: relative;">
<%= image_tag "treeviewMap-8.png", :usemap => "#treeMap" %>
    
<map name="treeMap">
  <area id="tree_node_1" shape="circle" coords="401,389,7" href="/" alt="test" />
</map>

<div>
    <section style="display:none; position: absolute; left: 430px;  top: 430px;" class="artistInfo category<%= @rootWork.medium %>" id="nextWorkInfo<%= @rootWork.id %>">
      <div class="artistName<% if @rootWork.artist.longname? %> longname<% end %>"><%= @rootWork.artist.name.gsub(/\s+/, '<br>').html_safe %></div>
      <div class="workMedium"><%= @rootWork.medium %></div>
      <div class="workLocation"><%= @rootWork.artist.location.gsub(/[,]\s+/, '<br>').html_safe %></div>
    </section>    
</div>

</div>



