<h1>Listing works</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <!--<th>Parent</th>-->
      <th># Of Files</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= link_to work.title, [:admin, work] %></td>
        <!--<td><%= work.parent_id %></td>-->
        <td><%= work.work_representations.count %></td>
        <td><%= link_to 'Edit', edit_admin_work_path(work) %></td>
        <td><%= link_to 'Destroy', [:admin, work], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_admin_work_path %>
