<!DOCTYPE html>
<html>
<head>
  <title>TelephoneGame</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<figure id="logo"><a href="/"><img src="<%= asset_path 'telephoneTempHeader.png' %>" /></a></figure>
<nav>
<strong>admin: </strong>
<a href="/admin/artists/">artists</a>
|
<a href="/admin/works/">works</a> 
|
<a href="/admin/work_representations/">work representations</a> 
|
<a href="/admin/curated_tours/">curated tours</a> 
|
<a href="/admin/curated_tour_stops/">stops on the tour</a> 
<% if signed_in? -%>
  <%= button_to 'Sign Out', sign_out_path, :method => :delete %>
<% else -%>
  | <%= link_to 'sign in', sign_in_path %>
<% end -%> 

</nav>
<div class="main">
    <%= yield %>
</div>
<figure id="logo"><a href="/"><img src="<%= asset_path 'footer-stamp-issue-2-collective.png' %>" /></a></figure>
</body>
</html>
