<!DOCTYPE html>
<html>
<head>
  <title>TelephoneGame</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<figure id="logo"><a href="/"><img src="<%= asset_path 'telephoneTempHeader.png' %>" /></a></figure>
<nav>
<strong>admin: </strong>
<a href="/admin/artists/">artists</a>
|
<a href="/admin/works/">works</a> 
|
<a href="/admin/work_representations/">work representations</a> 
</nav>
<div class="main">
    <%= yield %>
</div>
</body>
</html>
