<!DOCTYPE html>
<html>
<head>
  <title>TelephoneGame</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<figure id="logo"><a href="/"><img src="<%= asset_path 'telephoneTempHeader.png' %>" /></a></figure>
<nav>
  <ul>
    <li><a href="/works/tree/">works tree view</a></li>
    <li><a href="/works/by_medium/">works by medium</a></li>
    <li><a href="/artists/">artists</a></li>
    <li><a href="/curated_tours/1/curated_tour_stops/1">curated tour</a></li>
  </ul>
</nav>
<div class="main">
    <%= yield %>
</div>
<figure id="logo"><a href="/"><img src="<%= asset_path 'footer-stamp-issue-2-collective.png' %>" /></a></figure>
</body>
</html>
