<!DOCTYPE html>
<html>
<head>
  <title>TelephoneGame</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<figure id="logo"><a href="/"><img src="<%= asset_path 'telephoneTempHeader.png' %>" /></a></figure>
<nav>
<a href="/works/1">root work</a> 
|
<a href="/works/tree">tree view</a>
|
<a href="/artists/">artist list</a>
|
<a href="/works/">works list</a>
</nav>
<div class="main">
    <%= yield %>
</div>
</body>
</html>
