<!DOCTYPE html>
<html>
<head>
  <title>TelephoneGame</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<figure id="logo"><a href="/"><img src="<%= asset_path 'telephoneTempHeader.png' %>" /></a></figure>
<nav>
<a href="/works/">works list</a> 
|
<a href="/works/by_medium/">works by medium</a>
|
<a href="/works/tree/">works tree</a>
| 
<a href="/artists/">artists</a>
| 
<a href="/curated_tours/1/curated_tour_stops/1">curated tour</a>

</nav>
<div class="main">
    <%= yield %>
</div>
</body>
</html>
